* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url("files/BK_.png");
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Próximos 4 seletores são do menu no topo!*/
#main-top {
    background-color: black;
    opacity: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    height: auto;
    padding: 20px;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}
.main-items {
    font-weight: bolder;
    font-size: 1.4vw;
    list-style: none;
    width: auto;
    flex: 1;
}
a.top {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
a.top:hover {
    background-color: aliceblue;
    color:black;
    padding: 0.4vw;
    border-radius: 0.5rem;
    transition-duration: 0.3s ;
}

/* Próximos 2 seletores são da folha abaixo do menu!*/
div#main {
    padding: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    width: 85vw;
    max-width: 900px;
    height: auto;
    max-height: 1200px;
    line-height: 1.5rem;
    background: rgb(255, 255, 255);
    box-shadow: 0.125rem 0.125rem 1rem 0.125rem black;
    opacity: 96%;
}
div#main:hover {
    box-shadow: 0.125rem 0.125rem 1rem 0.125rem blue;
    transition-duration: 0.5s;
}

/* Próximos 3 seletores são onde estão o nome e a foto!*/
#head {
    display: flex;

}
.first h1 {
    font-size: 3vw;
    line-height: 200%;
    padding: 5%;
    text-align: center;
    background-color: black;
    color: white;
}
#foto {
    align-self: center;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    margin: 0.3em;
}

/* Próximos 2 seletores são das sessões que vão entrar as caixas!*/
#sections {
    display: flex;
    flex-direction: row;
}
.section {
    border: 0.0625rem solid rgba(128, 128, 128, 0.788);
    flex: 1;
    margin: 0.5rem;
    padding: 0.8rem;
}

/* Próximos 3 seletores são dos hyperlinks em contato, more e idioma!*/
.contato, #idioma a {
    text-decoration: none;
    color: black;
}
.boxInfo:hover .contato {
    color: blue;
}
#idioma:hover ul li a {
    color: blue;
}
.more {
    font-size: 1.3vw;
    text-decoration: none;
    color: blue;
}
/*Todas as ul!*/
ul {
    list-style:circle;
}

/*Próximos 5 seletores são para habilidades*/
#tabela-hab {
    text-align:start;
}
#tabela-hab {
    text-align: center;
    padding: 2vw;
}
th {
    border-bottom: 1px solid black;
}
#tabela-hab:hover .soft {
    color: #fc4830;
}
#tabela-hab:hover .hard {
    color: blue;
}


@media (max-width: 768px) {
    .first h1 {
        font-size: 4.5vw;
    }
    .section {
        border: 0;
    }
    #sections {
        display: block;
        border: 0.0625rem solid rgba(128, 128, 128, 0.788);
    }
    body {
        height: 50vh;
    }
    div#main {
        font-size: 2.5vw;
        width: 95vw;
    }

}
